
.icon-star:before { content: '\e801'; } /* '' */
.icon-basket-1:before { content: '\e808'; } /* '' */
.icon-home:before { content: '\e809'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-id-card-o:before { content: '\f2c3'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */
.icon-lock:before { content: '\f512'; } /* '' */
.icon-lock-open:before { content: '\f513'; } /* '' */