.borderstripes {
    width: 100%;
    height: 10px;
    background-image: url("../img/BorderStripes.jpg");
    background-repeat: repeat-y;
    background-size: 100%;
}

.logoArea {
    /* padding: 15px 0px 15px 15px; */
    /* background: yellow; */
}

.loginArea {
    padding-top: 2px;
    text-align: right;
    /* background: violet; */
}